.advantages {
    padding: 73px 0 65px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__items {
        width: 270px;
    }
    &__logo {
        display: block;
        margin: 0 auto;
    }
    &__descr {
        text-align: center;
        margin-top: 35px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        span {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
        }
        a {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}